:root {
  --color-primary: #bbe998bb;
  --color-btn: #68d463e8;
  --color-white: whitesmoke;
  --color-font-dark: rgb(29, 27, 27, .75);
  --font-title: 'Fredoka One', sans-serif;
  --font-secondary: 'Signika', sans-serif;
}

body {
  font-family: var(--font-secondary);
}

header {
  height: 6em;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

header > a {
  color: var(--color-font-dark);
  text-decoration: none;
}

h1 {
  margin: 0 auto;
  font-family: var(--font-title);
  font-size: 3em;
}

body {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-font-dark);
}

.input-bar {
  margin: 1em auto;
  width: 50%;
}

.form {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.form * {
  width: 30%;
}

.form > label > input, .form > button {
  border-radius: 2em;
  border: 2px solid rgb(29, 27, 27, .6);
  padding: .75em 1em;
}

.btn {
  padding: .75em 1.5em;
  border: 2px solid transparent;
  border-radius: 1em;
  background-color: var(--color-white);
  color: var(--color-font-dark);
  font-weight: 700;
  font-size: 1em;
  transition: ease-in .15s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  transform: scale(1.05)
}

.grid-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
  display: grid;
  justify-content: center;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, 13em);
}

.photo-card {
  width:13em;
  height:21.1em;
}

.image-container {
  width: 100%;
  height: 18em;
  overflow: hidden;
}

.image-container:hover {
  opacity: .8;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author, .views {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.author {
  font-size: .8em;
  opacity: .9;
  margin: .2em 0;
}

.views {
  font-size: .8em;
  opacity: .8;
}

.link {
  color: inherit;
  opacity: .6;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  opacity: .9;
}

/* ================ photo page ==================== */

.photo-page__flex-container {
  max-width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.image-container-photo-page {
  max-width: 50%;
}

.image-photo-page {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-page-info {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0;
}

h3 {
  font-size: 1.5em;
  margin: 0 0 .25em 0;
}

.photo-page-info > * {
  list-style-type: none 
}

.photo-page-link, 
.photopage.link:visited {
  text-decoration: underline dotted;
  color: var(--color-font-dark);
}

.photo-page-link:hover {
  text-decoration: underline solid;
  cursor: pointer;
  color: rgb(20, 68, 115);
}

/*=============footer =============*/
footer {
  font-family: var(--font-secondary);
  font-size: .9em;
  text-align: center;
  height: 3em;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: underline dotted;
  cursor: pointer;
  color: var(--color-font-dark);
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline solid;
  cursor: pointer;
  color: rgb(20, 68, 115);
  
}